
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100.2rem;
}.landing-page-oEN {
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  box-shadow: -2.4rem -2.8rem 14rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-vwp8-AUE {
    width: 105.734rem;
    height: 61.1958rem;
    position: relative;
    flex-shrink: 0;

    .header-6YE {
      align-items: center;
      box-shadow: 0 0.4rem 0.8rem rgba(171, 190, 209, 0.400000006);
      background-color: #ffffff;
      width: 100.234rem;
      position: absolute;
      left: 0;
      top: 0;
      box-sizing: border-box;
      padding: 0.6rem 1.434rem 0.676rem 10.023rem;
      height: 5.8764rem;
      display: flex;

      .auto-group-tmee-5ux {
        margin: 0.7rem 24.746rem 0.9rem 0rem;
        box-sizing: border-box;
        padding-left: 7.6766rem;
        height: calc(100% - 1.6rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .image-8-JGv {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.7rem 0.024rem 0rem;
          width: 2rem;
          height: 1.9756rem;
        }
        .pollensense-k8v {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.5;
          color: #2b803e;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .right-menu-kHL {
        margin: 0.514rem 3.089rem 0.437rem 0rem;
        height: calc(100% - 0.951rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .header-menu-my8 {
          position: relative;
          flex-shrink: 0;
          margin: 0rem 0.327rem 0.274rem 0rem;
          width: 22.3117rem;
          height: 2.4rem;

          .menu-bxA {
            width: 9.8568rem;
            height: 2.4rem;
            position: absolute;
            left: 0;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
            white-space: nowrap;
            top: 0;
            line-height: 1.5;
            color: #4d4d4d;
            font-family: Inter, 'Source Sans Pro';
          }
          .menu-r2r {
            font-size: 1.6rem;
            font-weight: 500;
            color: #4d4d4d;
            height: 2.4rem;
            position: absolute;
            left: 4.5706rem;
            top: 0;
            text-align: center;
            width: 9.1823rem;
            line-height: 1.5;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .menu-VLi {
            color: #4d4d4d;
            position: absolute;
            left: 11.9411rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            width: 8.5303rem;
            height: 2.4rem;
            top: 0;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .menu-Wmc {
            width: 6.4rem;
            position: absolute;
            top: 0;
            align-items: center;
            font-size: 1.6rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-weight: 500;
            justify-content: center;
            height: 2.4rem;
            left: 15.9117rem;
            line-height: 1.5;
            color: #4d4d4d;
          }
        }
        .button-YCW {
          width: 9.9254rem;
          height: 100%;
          position: relative;
          background-color: #2c813f;
          border-radius: 0.2784rem;
          flex-shrink: 0;

          .label-1rn {
            width: 5.4rem;
            position: absolute;
            display: flex;
            line-height: 1.5;
            top: 0.6245rem;
            justify-content: center;
            white-space: nowrap;
            height: 2.4rem;
            align-items: center;
            font-size: 1.6rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            left: 1.4274rem;
            font-weight: 500;
          }
          .arrows-directions-right-GXp {
            position: absolute;
            left: 6.7583rem;
            top: 1.6157rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.7963rem;
            height: 0.4177rem;
          }
        }
      }
      .auto-group-ffqs-M3U {
        width: 5.5rem;
        height: 100%;
        flex-shrink: 0;

        .screenshot2024-02-17at605-1-tp6 {
          width: 4.7rem;
          height: 4.6rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .home-PF4 {
      width: 100.234rem;
      height: 55.3488rem;
      position: absolute;
      left: 0;
      top: 5.847rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .hero-section-UXQ {
        box-sizing: border-box;
        padding: 6.682rem 10.023rem 6.682rem 10.023rem;
        flex-shrink: 0;
        margin-bottom: 2.7843rem;
        width: 100%;
        height: 49.4645rem;
        display: flex;
        align-items: center;
        background-color: #f5f7f9;

        .text-a4e {
          margin: 8.743rem 21.887rem 8.743rem 0rem;
          height: calc(100% - 17.4863rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .hello-ian-JmL {
            line-height: 0.8265824914;
            color: #4d4d4d;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 6.3137rem;
            max-width: 24rem;
            font-size: 6.4rem;
            font-weight: 600;

            .hello-ian-JmL-sub-0 {
              font-size: 10rem;
              font-weight: 600;
              line-height: 0.5290127945;
              color: #4d4d4d;
              font-family: Inter, 'Source Sans Pro';
            }
            .hello-ian-JmL-sub-1 {
              font-size: 9rem;
              font-weight: 600;
              line-height: 0.5877919939;
              color: #2c813f;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .use-pollensense-thats-just-common-sense-Cdk {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.1137111664;
            color: #717171;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .screenshot2024-02-17at555-1-uo4 {
          height: 36.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 27.6rem;
        }
      }
      .section-title-DYr {
        align-items: baseline;
        flex-shrink: 0;
        margin-right: 0rem;
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 0.8507515589;
        font-family: Inter, 'Source Sans Pro';
        text-align: center;
        color: #4d4d4d;
        white-space: nowrap;
        display: flex;

        .section-title-DYr-sub-0 {
        }
        .section-title-DYr-sub-1 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 4rem;
          font-weight: 700;
          line-height: 0.765676403;
          color: #2c813f;
        }
      }
    }
  }
  .auto-group-kccw-wdG {
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 3rem;
    box-sizing: border-box;
    padding: 0.004rem 0rem 2.106rem 0rem;
    width: 100%;
    align-items: center;
    display: flex;

    .unlock-4ht {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 28.6rem 7.8rem 12.723rem;
      width: calc(100% - 41.323rem);
      height: 38.9rem;
      display: flex;

      .mobile-login-pana-m6W {
        margin-right: 0.1731rem;
        width: 34.004rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .background-complete-V2W {
          object-fit: contain;
          vertical-align: top;
          opacity: 0;
          width: 30.7338rem;
          height: 26.4907rem;
          position: absolute;
          left: 3.2702rem;
          top: 0;
        }
        .background-simple-c78 {
          height: 20.7733rem;
          position: absolute;
          left: 6.6176rem;
          top: 6.1034rem;
          object-fit: contain;
          vertical-align: top;
          opacity: 0;
          width: 22.2943rem;
        }
        .floor-Xzn {
          vertical-align: top;
          width: 22.3138rem;
          height: 0.0374rem;
          position: absolute;
          left: 7.1543rem;
          top: 30.1302rem;
          object-fit: contain;
        }
        .plant-UQE {
          width: 5.9773rem;
          height: 10.2865rem;
          position: absolute;
          left: 23.2765rem;
          top: 13.6776rem;
          object-fit: contain;
          vertical-align: top;
        }
        .map-Pn6 {
          width: 30.1766rem;
          height: 30.8rem;
          left: 0;
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          top: 8.1rem;
          background-size: 100% 100%;
          background-image: url('REPLACE_IMAGE:b1053ef1521e5fc1caa5675531b5d1cb64a13e9d');

          .controls-zoom-controls-Y9C {
            height: 4.001rem;
            position: absolute;
            left: 26.5483rem;
            top: 0.6039rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.4778rem;
          }
          .auto-group-ruar-47Y {
            width: 12.8317rem;
            height: 16.2304rem;
            position: absolute;
            left: 3.1858rem;
            top: 10.4176rem;

            .markers-spotlight-marker-nJS {
              vertical-align: top;
              width: 2.3893rem;
              height: 3.2461rem;
              position: absolute;
              left: 8.7609rem;
              top: 4.9069rem;
              object-fit: contain;
            }
            .ellipse-50-VyY {
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 12.8317rem;
              height: 16.2304rem;
              position: absolute;
              left: 0;
            }
          }
          .auto-group-ccxx-r3Q {
            width: 10.1769rem;
            height: 21.5902rem;
            position: absolute;
            left: 18.8493rem;
            top: 8.5304rem;

            .ellipse-52-nSr {
              margin-bottom: 14.7206rem;
              width: 3.1858rem;
              height: 2.4912rem;
              object-fit: contain;
              vertical-align: top;
            }
            .ellipse-51-8mc {
              height: 4.3784rem;
              object-fit: contain;
              vertical-align: top;
              width: 10.1769rem;
            }
          }
          .controls-map-type-5wk {
            padding: 0rem 0.778rem 0rem 0.881rem;
            height: 2.1892rem;
            top: 0.7549rem;
            box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.200000003);
            align-items: center;
            background-color: #ffffff;
            border-radius: 0.2rem;
            box-sizing: border-box;
            width: 8.3185rem;
            position: absolute;
            left: 0.7965rem;
            display: flex;

            .map-NR4 {
              font-size: 1.1rem;
              font-weight: 500;
              line-height: 1.1725;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0.319rem 0.881rem 0rem 0rem;
              max-width: 1.6rem;
              text-align: center;
              color: #000000;
            }
            .line-Fjk {
              background-color: #f2f2f2;
              flex-shrink: 0;
              margin-right: 0.6778rem;
              width: 0.1rem;
              height: 2.1892rem;
            }
            .satellite-oFU {
              margin-top: 0.3186rem;
              max-width: 3.4rem;
              text-align: center;
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.1725;
              color: #565656;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
      }
      .frame-5-QFG {
        margin: 15.293rem 0rem 14.993rem 0rem;
        height: calc(100% - 30.2863rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .top-allergies--vjQ {
          margin-bottom: 1.3137rem;
          font-size: 3.6rem;
          font-weight: 600;
          line-height: 0.8507515589;
          color: #4d4d4d;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .one-event-calendar-shared-across-national-regional-and-club-events-to-simplify-your-event-experience-allowing-you-to-create-waiting-lists-share-data-capture-issue-credential-for-course-completion-apply-smart-purchasing-rules-and-much-more-TjL {
          flex-shrink: 0;
          max-width: 5.8rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 0.5800578992;
          color: #717171;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .achievements-Gwg {
      margin-right: 0.166rem;
      align-items: center;
      display: flex;
      box-sizing: border-box;
      padding: 0rem 31.534rem 2.794rem 31.4rem;
      width: calc(100% - 0.166rem);
      flex-direction: column;
      background-color: #f5f7f9;
      flex-shrink: 0;

      .section-title-nf8 {
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 600;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 5.7rem 0.564rem;
        text-align: center;
        line-height: 1.2761273384;
        color: #4d4d4d;
      }
      .auto-group-8ejj-6vi {
        margin-bottom: 2.1rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .ellipse-47-pLv {
          margin-right: 2.9rem;
          width: 5.2rem;
          height: 5.2rem;
          background-color: #2c813f;
          border-radius: 2.6rem;
          flex-shrink: 0;
        }
        .ellipse-49-MLr {
          margin-right: 2.7rem;
          width: 5.2rem;
          height: 5.2rem;
          background-color: #2c813f;
          border-radius: 2.6rem;
          flex-shrink: 0;
        }
        .ellipse-50-HVQ {
          background-color: #d9d9d9;
          border-radius: 2.6rem;
          flex-shrink: 0;
          margin-right: 2.8rem;
          width: 5.2rem;
          height: 5.2rem;
        }
        .ellipse-51-oTk {
          margin-right: 2.9rem;
          width: 5.2rem;
          height: 5.2rem;
          background-color: #d9d9d9;
          border-radius: 2.6rem;
          flex-shrink: 0;
        }
        .ellipse-52-LCn {
          width: 5.2rem;
          height: 5.2rem;
          background-color: #d9d9d9;
          border-radius: 2.6rem;
          flex-shrink: 0;
        }
      }
      .auto-group-3jqy-SFp {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 1.2rem 0rem 1.1rem;
        width: calc(100% - 2.3rem);

        .when-joining-the-justgo-community-your-success-becomes-our-success-in-other-words-our-customer-success-team-will-be-on-hand-from-day-one-to-ensure-we-understand-your-requirements-share-your-goals-and-work-with-you-for-a-smooth-adoption-of-our-software-MNn {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 11.6rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.0708761215;
          color: #717171;
        }
        .when-joining-the-justgo-community-your-success-becomes-our-success-in-other-words-our-customer-success-team-will-be-on-hand-from-day-one-to-ensure-we-understand-your-requirements-share-your-goals-and-work-with-you-for-a-smooth-adoption-of-our-software-mhQ {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.0708761215;
          color: #717171;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 12.4rem;
        }
        .when-joining-the-justgo-community-your-success-becomes-our-success-in-other-words-our-customer-success-team-will-be-on-hand-from-day-one-to-ensure-we-understand-your-requirements-share-your-goals-and-work-with-you-for-a-smooth-adoption-of-our-software-bgS {
          line-height: 1.0708761215;
          color: #717171;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.3rem;
          font-weight: 400;
        }
      }
    }
  }
  .footer-big-4-onW {
    box-sizing: border-box;
    padding: 4rem 11.485rem 4.455rem 11.485rem;
    width: 100%;
    height: 22.1279rem;
    display: flex;
    align-items: center;
    background-color: #4d4d4d;
    flex-shrink: 0;

    .auto-group-qpyx-XTc {
      height: 100%;
      position: relative;
      flex-shrink: 0;
      margin-right: 8.7009rem;
      width: 24.3624rem;

      .company-info-rEz {
        left: 0;
        top: 0.4548rem;
        overflow: hidden;
        width: 24.3624rem;
        height: 13.2182rem;
        position: absolute;

        .auto-group-jl8w-9E6 {
          height: 2.9672rem;
          position: relative;
          margin-bottom: 1.8825rem;
          width: 13.2949rem;

          .logo-5Ne {
            width: 13.2949rem;
            height: 2.9672rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
          }
          .image-8-RhQ {
            width: 2rem;
            height: 1.9756rem;
            position: absolute;
            left: 0.5149rem;
            top: 0.0452rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .copyright-LC6 {
          overflow: hidden;
          margin-bottom: 2.7843rem;
          width: 100%;
          height: 3.3569rem;
          position: relative;

          .copyright-2020-landify-ui-kit-sxi {
            width: 20.5rem;
            height: 2rem;
            left: 0;
            font-size: 1.4rem;
            white-space: nowrap;
            position: absolute;
            top: 0;
            font-weight: 400;
            line-height: 1.4285714286;
            color: #f5f7f9;
            font-family: Inter, 'Source Sans Pro';
          }
          .all-rights-reserved-qo4 {
            height: 2rem;
            position: absolute;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4285714286;
            font-family: Inter, 'Source Sans Pro';
            width: 12rem;
            left: 0;
            top: 1.9569rem;
            color: #f5f7f9;
            white-space: nowrap;
          }
        }
        .social-links-LUv {
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;

          .social-icons-gog {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.1137rem;
            width: 2.2274rem;
            height: 2.2274rem;
            object-fit: contain;
          }
          .social-icons-EKQ {
            margin-right: 1.1137rem;
            width: 2.2274rem;
            height: 2.2274rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .social-icons-NgW {
            margin-right: 1.1137rem;
            width: 2.2274rem;
            height: 2.2274rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .social-icons-6sQ {
            width: 2.2274rem;
            height: 2.2274rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .pollensense-poQ {
        left: 2.9149rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 3rem;
        position: absolute;
        line-height: 1.5;
        color: #2c813f;
        width: 12.5rem;
        top: 0;
      }
    }
    .links-LWr {
      height: 11.7764rem;
      overflow: hidden;
      position: relative;
      display: flex;
      column-gap: 2.0882rem;
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 0.9869rem;

      .col-1-U7G {
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        width: 11.1371rem;
        height: 100%;

        .company-DqY {
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.4;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.8706rem;
        }
        .list-items-Kta {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 8.1059rem;
          overflow: hidden;
          position: relative;

          .about-us-sQJ {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2353rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4285714286;
            color: #f5f7f9;
            font-family: Inter, 'Source Sans Pro';
          }
          .blog-cMt {
            line-height: 1.4285714286;
            color: #f5f7f9;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2353rem;
            font-size: 1.4rem;
            font-weight: 400;
          }
          .contact-us-MaN {
            font-weight: 400;
            line-height: 1.4285714286;
            color: #f5f7f9;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2353rem;
            font-size: 1.4rem;
          }
          .pricing-u66 {
            color: #f5f7f9;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4285714286;
          }
        }
      }
      .col-2-Eu4 {
        width: 11.1371rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .support-bjc {
          line-height: 1.4;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.8706rem;
          font-size: 2rem;
          font-weight: 600;
        }
        .list-items-JP8 {
          width: 100%;
          height: 8.1059rem;
          overflow: hidden;
          position: relative;
          display: flex;
          flex-direction: column;

          .help-center-rQe {
            line-height: 1.4285714286;
            color: #f5f7f9;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2353rem;
            font-size: 1.4rem;
            font-weight: 400;
          }
          .terms-of-service-bNE {
            flex-shrink: 0;
            margin-bottom: 0.2353rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4285714286;
            color: #f5f7f9;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .legal-8d4 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2353rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4285714286;
            color: #f5f7f9;
            font-family: Inter, 'Source Sans Pro';
          }
          .privacy-policy-Ugv {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4285714286;
            color: #f5f7f9;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .col-3-1wk {
        flex-shrink: 0;
        width: 17.7498rem;
        overflow: hidden;
        position: relative;

        .stay-up-to-date-Ape {
          line-height: 1.4;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.8706rem;
          font-size: 2rem;
          font-weight: 600;
        }
        .email-input-field-tEr {
          border-radius: 0.5569rem;
          box-sizing: border-box;
          padding: 0.626rem 0.887rem 0.158rem 0.835rem;
          width: 100%;
          display: flex;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.200000003);

          .your-email-address-PxJ {
            line-height: 1.4285714286;
            color: #d9dbe1;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2.2785rem;
            font-size: 1.4rem;
            font-weight: 400;
          }
          .essential-icons-send-XYi {
            flex-shrink: 0;
            margin-bottom: 0.4686rem;
            width: 1.1485rem;
            height: 1.1485rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
  }
}
